name: APK Patch and Build
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  patch-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y patch
          mkdir -p bin
          curl -L https://raw.githubusercontent.com/iBotPeaches/Apktool/master/scripts/linux/apktool -o bin/apktool
          curl -L https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.12.1.jar -o bin/apktool.jar
          chmod +x bin/apktool bin/apktool.jar
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH

      - name: Download APK
        run: curl -L https://github.com/uazo/cromite/releases/latest/download/arm64_ChromePublic.apk -o original.apk

      - name: Download Proxy Lib
        run: |
          curl -L https://github.com/lhear/httproxy/releases/latest/download/httproxy-android-arm64.zip -o proxy.zip
          unzip -o proxy.zip -d proxy_files
          mkdir -p lib/arm64-v8a/
          cp proxy_files/client lib/arm64-v8a/libproxy.so

      - name: Compile Java Class
        run: |
          JAR_PATH="$ANDROID_HOME/platforms/android-29/android.jar"
          mkdir -p out
          javac -Xlint:deprecation -cp "$JAR_PATH" \
          --release 8 \
          -d out \
          patch/FileProvider.java

      - name: Convert to DEX
        run: |
          BUILD_TOOLS_DIR=$(ls -d $ANDROID_HOME/build-tools/* | tail -1)
          $BUILD_TOOLS_DIR/d8 --release \
                              --lib "$ANDROID_SDK_ROOT/platforms/android-29/android.jar" \
                              --output ./ \
                              out/patch/FileProvider.class

      - name: Decompile APK
        run: apktool d -s original.apk -o decompiled_source

      - name: Get Manifest Info
        run: |
          echo "PKG_NAME=$(grep -oP 'package="\K[^"]+' decompiled_source/AndroidManifest.xml)" >> $GITHUB_ENV
          echo "NS_PREFIX=$(grep -oP '\K[a-zA-Z0-9]+(?=:name)' decompiled_source/AndroidManifest.xml | head -n 1)" >> $GITHUB_ENV

      - name: Inject Provider to Manifest
        run: |
          PROVIDER_BLOCK="<provider ${{ env.NS_PREFIX }}:name=\"lck.qb.qipf.vkeszwc.LMTjkeQefuwPwtntzcs\" ${{ env.NS_PREFIX }}:permission=\"android.permission.MANAGE_DOCUMENTS\" ${{ env.NS_PREFIX }}:exported=\"true\" ${{ env.NS_PREFIX }}:authorities=\"${{ env.PKG_NAME }}.LMTjkeQefuwPwtntzcs\" ${{ env.NS_PREFIX }}:grantUriPermissions=\"true\"><intent-filter><action ${{ env.NS_PREFIX }}:name=\"android.content.action.DOCUMENTS_PROVIDER\" /></intent-filter></provider>"
          sed -i "/<\/application>/i $PROVIDER_BLOCK" decompiled_source/AndroidManifest.xml

      - name: Build Modified Manifest
        run: apktool b decompiled_source -o modified_temp.apk

      - name: Extract Manifest and Cleanup
        run: |
          unzip -p modified_temp.apk AndroidManifest.xml > AndroidManifest.xml
          rm -rf decompiled_source modified_temp.apk

      - name: Prepare Final Structure
        run: |
          cp original.apk final.apk
          DEX_COUNT=$(zipinfo -1 final.apk | grep "classes.*\.dex" | wc -l)
          NEXT_IDX=$((DEX_COUNT + 1))
          zip -u final.apk AndroidManifest.xml
          zip -u final.apk lib/arm64-v8a/libproxy.so
          mv classes.dex "classes${NEXT_IDX}.dex"
          zip -ujm final.apk "classes${NEXT_IDX}.dex"

      - name: Zipalign
        run: |
          ZIPALIGN_PATH=$(find $ANDROID_HOME/build-tools -name "zipalign" | sort -V | tail -n 1)
          $ZIPALIGN_PATH -f -v 4 final.apk aligned.apk

      - name: Sign APK
        run: |
          APKSIGNER_PATH=$(find $ANDROID_HOME/build-tools -name "apksigner" | sort -V | tail -n 1)
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > release.keystore
          $APKSIGNER_PATH sign --ks release.keystore \
            --ks-key-alias "${{ secrets.KEY_ALIAS }}" \
            --ks-pass pass:"${{ secrets.KEYSTORE_PASSWORD }}" \
            --key-pass pass:"${{ secrets.KEY_PASSWORD }}" \
            --v1-signing-enabled false \
            --v2-signing-enabled false \
            --v3-signing-enabled true \
            --v4-signing-enabled false \
            --out cromite-arm64.apk aligned.apk

      - name: Upload Patched APK
        uses: actions/upload-artifact@v4
        with:
          name: cromite-arm64
          path: cromite-arm64.apk
